{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier"
    ],
    "rules": {
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "after-same-name",
                    "inside-block"
                ],
                "ignore": [
                    "after-comment"
                ]
            }
        ],
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "content",
                    "each",
                    "extend",
                    "for",
                    "function",
                    "if",
                    "import",
                    "include",
                    "mixin",
                    "while"
                ]
            }
        ],
        "selector-type-no-unknown": [
            true,
            {
                "ignore": [
                    "custom-elements"
                ]
            }
        ],
        "unit-whitelist": [
            "em",
            "rem",
            "s",
            "px",
            "%",
            "vw",
            "vh"
        ],
        "no-descending-specificity": null,
        "selector-pseudo-element-no-unknown": [
            true,
            {
                "ignorePseudoElements": [
                    "/^ng-/"
                ]
            }
        ]
    }
}
