<mat-card>
    <mat-progress-bar *ngIf="isTranslating" color="accent" mode="indeterminate"></mat-progress-bar>
    <div class="language">
        <p>Ottoman</p>
        <mat-icon>trending_flat</mat-icon>
        <p>Turkish</p>
    </div>
    <mat-divider></mat-divider>
    <div class="input">
        <textarea #input
                  matTextareaAutosize
                  matAutosizeMinRows="1"
                  matAutosizeMaxRows="3"
                  placeholder="Enter a word..."></textarea>
        <div class="actions">
            <button *ngIf="input.value" [@popAnimation] (click)="clear()" mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
            <button #speech mat-icon-button>
                <mat-icon>mic</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
<mat-card [@popAnimation] *ngIf="translation">
    <mat-card-title>
        {{translation.searched}} ({{translation.results.length}} results)
    </mat-card-title>
    <mat-card-content>
        <p *ngIf="!translation.results.length">
            There is no translation for this word.
            <span class="emoji">😞</span>
        </p>
        <mat-selection-list #msl [hidden]="translation.results.length">
            <mat-list-option (selectionChange)="toggle(result)" *ngFor="let result of translation.results">
                {{result}}
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
    <mat-card-actions *ngIf="translation.results.length">
        <button [disabled]="msl.selectedOptions.isEmpty()"
                mat-raised-button
                color="accent">
            <span class="icon-btn">
                <span>Glossary</span>
                <mat-icon>favorite</mat-icon>
            </span>
        </button>
    </mat-card-actions>
</mat-card>
