<mat-sidenav-container>
    <mat-sidenav #snav
                 [mode]="mobileQuery.matches ? 'side' : 'over'"
                 [opened]="mobileQuery.matches ? true : false">
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button (click)="snav.toggle()" type="button" mat-button>
                <mat-icon>{{snav.opened ? 'arrow_back' : 'menu'}}</mat-icon>
            </button>
            <a mat-button routerLink="/">
                <span>
                    <img src="../../../assets/img/logo.svg" alt="Book" />
                    <h1>Personal Dictionary</h1>
                </span>
            </a>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
