@import 'variables', 'mixins', '~@angular/material/theming';

:host {
    display: block;
}

a {
    @include flex(null, center, center);

    height: 100%;
}

button {
    @include flex(null, center, center);

    height: 100%;
    min-width: 8.8rem;
}

h1 {
    line-height: 2;
    padding-left: 1rem;
}

img {
    filter: brightness(0) invert(1);
    width: 4rem;
    height: 100%;
}

main {
    @include respond-to(xs) {
        padding: map-get($side-offset, sm) map-get($side-offset, sm) 1rem;
    }

    padding: map-get($side-offset, xs) map-get($side-offset, xs) 1rem;
}

mat-sidenav {
    @include respond-to(sm) {
        width: 32rem;
    }
    @include mat-elevation(16);

    width: 28rem;
}

mat-sidenav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

mat-icon {
    @include icon-size(3rem);
}

mat-toolbar {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

span {
    @include flex();
}
