<mat-sidenav-container>
    <mat-sidenav #snav
                 [mode]="mobileQuery.matches ? 'side' : 'over'"
                 [opened]="mobileQuery.matches ? true : false">
        <mat-nav-list>
            <a *ngFor="let link of navLinks"
               [routerLink]="link.path"
               routerLinkActive #rla="routerLinkActive"
               [class.active]="rla.isActive"
               (click)="!mobileQuery.matches && snav.close()">
                <mat-list-item>
                    <mat-icon matListIcon>{{link.icon}}</mat-icon>
                    <p matLine>{{link.label}}</p>
                </mat-list-item>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button (click)="snav.toggle()" type="button" mat-button>
                <mat-icon>{{snav.opened ? 'arrow_back' : 'menu'}}</mat-icon>
            </button>
            <div>
                <img src="../../../assets/img/logo.svg" alt="Book" />
                <h1>Personal Dictionary</h1>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
