@mixin font-face($name, $style, $weight, $file, $extension, $format) {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url('../assets/fonts/#{$file}.#{$extension}') format('#{$format}');
}
@mixin flex($direction: null, $justify: null, $align: null) {
    display: flex;
    @if ($direction != null) {
        flex-direction: $direction;
    }
    @if ($justify != null) {
        justify-content: $justify;
    }
    @if ($align != null) {
        align-items: $align;
    }
}
@mixin icon-size($size: 2.4rem) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }
}
@mixin floating-action-button() {
    @include respond-to(xs) {
        bottom: map-get($fab-offset, sm);
        right: map-get($fab-offset, sm);
    }

    position: fixed;
    bottom: map-get($fab-offset, xs);
    right: map-get($fab-offset, xs);
    z-index: 998;
}
