@import 'variables', 'mixins';

:host {
    display: block;
}

.total {
    @include respond-to(md) {
        margin-top: -3.6rem;
    }

    position: relative;
    text-align: center;

    mat-icon {
        @include icon-size(3rem);

        position: absolute;
        left: 2rem;
    }
}

div {
    @include respond-to(xs) {
        justify-content: space-between;
    }
    @include flex($justify: center);

    flex-wrap: wrap;

    mat-card {
        @include flex(column, flex-end);

        flex: 0 1 30rem;
        margin-top: 2rem;

        mat-card-subtitle {
            font-size: 1.2rem;
        }

        mat-card-title {
            @include respond-to(xs) {
                font-size: 2rem;
            }

            font-size: 1.5rem;
        }
    }
}

mat-card-title-group {
    margin: 0;
}

mat-spinner {
    margin: 1rem auto;
}
