@import 'variables', 'mixins';

:host {
    display: block;
}

.total {
    @include respond-to(md) {
        margin-top: -3.6rem;
    }

    margin-bottom: 2rem;
    position: relative;
    text-align: center;

    mat-icon {
        @include icon-size(3rem);

        position: absolute;
        left: 2rem;
    }
}

div {
    @include flex();
    @include respond-to(xs) {
        justify-content: center;
    }
    @include respond-to(md) {
        justify-content: space-between;
    }

    flex-wrap: wrap;

    mat-card {
        @include respond-to(xs) {
            flex: 0 1 32rem;
        }

        margin-top: 1rem;
        margin-right: 1rem;
        max-height: 10rem;

        mat-card-subtitle {
            @include respond-to(xs) {
                display: block;
            }

            display: none;
            font-size: 1.2rem;
        }

        mat-card-title {
            @include respond-to(xs) {
                display: block;
                font-size: 2rem;
            }

            display: none;
        }

        mat-card-title-group {
            img {
                margin-top: 0;
                margin-bottom: 0.5rem;
            }
        }
    }
}

mat-card-title-group {
    margin: 0;
}

mat-spinner {
    margin: 1rem auto;
}
